h1,h2,h3 {
padding: 0;
margin: 0;}


body {

	font-family: 'Ubuntu';
}
.top {
	background-color: #343434;
	z-index: -11;
	color: #ffffff;
}

.teaser {

	z-index: -10;
	height: 0;
	padding-bottom: 50%;
}

div.teacont {
	position: relative;
	bottom: 150px;
	left: 20px;
	color: #ffffff;
	z-index: 2;
}

.hintergrund {
	background: url("../img/04_titelmotiv.jpg") no-repeat;
	background-size: 100% auto;
	z-index: 1;
	padding-top: 50%;
	position: relative;
	height: auto;
}

a.centerlink:link {
	color: #ffffff;
	text-decoration: none;
}
a.centerlink:visited {
	color: #ffffff;
}
a.centerlink:active {
	color: #ffffff;
}
a.centerlink:hover {
	color: #aaa;
}

.center {
	position: relative;
	background-color: #343434;
	color: #ffffff;
	padding-bottom: 20px;
	margin-left: 35%;
	margin-right: auto;
	margin-bottom: 30px;
	margin-top: 20px;
}

.cont {

	float: left;margin 20px;
	width: 100%;
	height: 100%;
}

.info {
	
	
	text-align: right;
	position: absolute;
	left: 20px;
	margin: 20px;
	width: 150px
}
.artikel {
	margin: 20px;
	margin-left: 200px;
	float: left;
}

#kontakt{
	
	
	
    
	clear: both; 
	background-color: #343434;
	color: #ffffff;
}

#meldungen{
	
	color: #ffffff;
	background-color: #343434;
	text-align: center;
	z-index: 100;
	
	padding: 20px;
	
}


#kontakt-formul{
	margin-left:5%;
	margin-right:auto;
	background-color: #343434;
	padding:10px;
	
	border-collapse: collapse;
}

.kontakt-form-inp{
	padding:3px;
	padding-left:6px;
	
	color:  #969696;
	font-family: 'Ubuntu';
	margin:4px;
	background-color: #2b2b2b;
	border: none;
	width: 90%;
}

.kontakt-form-but{
	color:  #ffffff;
	font-family: 'Ubuntu';
	margin:4px;
	padding:3px;
	font-weight:bold;
	background-color: #EC7404;
	border: none;
	width: 90%;
	
	
}

/* fluid zeug wohl am ende damits alles überschreibt  */
@media (max-width: 580px) {
	h1 {
		font-size: 18px;
	}
}

@media (min-width: 980px) {
	h1 {
		font-size: 52px;
	}
	div.teacont {
		bottom: 250px
	}
}